<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.picturebed.mapper.userMapper">

  <select id="selectUserByUsernameAndPassword"
    parameterType="map"
    resultType="com.picturebed.model.entity.User">
    select *
    from user
    where username = #{username}
      and password = #{password}
  </select>
  <select id="selectUserByEmail" resultType="com.picturebed.model.entity.User">
    select *
    from user
    where email = #{email};
  </select>
  <select id="selectUserByEmailAndPassWord" resultType="com.picturebed.model.entity.User">
    select *
    from user
    where email = #{email}
      and password = #{password}
    ;
  </select>

  <insert id="insertUser" parameterType="com.picturebed.model.entity.User"
    useGeneratedKeys="true" keyProperty="id">
    INSERT INTO user (username,
                      password,
                      email,
                      role)
    VALUES (#{username},
            #{password},
            #{email},
            #{role})
  </insert>

</mapper>